*{
    margin: 0;
    padding: 0;
}

#moldura{
    background-color: blue;
    width: 220px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 15px;
}

/* #moldura{

height: max-content;  
border-radius: 20px;
display: flex;
border-color: blue;
background-color: green;

} */