* {
  margin: 0;
  padding: 0;
}

#moldura {
  background-color: blue;
  width: 250px;
  height: 330px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 15px;
  flex-direction: column;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

#moldura img {
  height: 150px;
}

#moldura {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
#moldura:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: orange;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#moldura:hover,
#moldura:focus,
#moldura:active {
  color: white;
  border-radius: 20px;
}
#moldura:hover:before,
#moldura:focus:before,
#moldura:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  border-radius: 20px;
}
