* {
  margin: 0;
  padding: 0;
}

#moldura {
  background-color: blue;
  width: 250px;
  height: 330px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 15px;
  flex-direction: column;
  color: white;
  transition: 0.3s;
}

#moldura:hover {
  background-color: salmon;
}

a {
  color: inherit;
  text-decoration: none;
}

#moldura img {
  height: 150px;
}
